<mat-toolbar class="example-header">
  <button mat-icon-button
          (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Wellmark Accenture PSP APP
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav
               mode="side"
               opened="true"
               class="example-sidenav">
    <mat-nav-list>
      <a mat-list-item
         routerLink="."
         *ngFor="let nav of menu">{{nav.title}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content select="router-outlet"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="example-footer">Footer</mat-toolbar>
