<mat-toolbar class="header">
  <button mat-icon-button
          (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Wellmark Accenture PSP APP
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav
               mode="side"
               opened="true"
               class="sidenav">
    <mat-nav-list>
      <mat-list-item *ngFor="let navItem of menu">
        <a matLine
           [href]="navItem.link">
          {{ navItem.title }}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content-container ">
      <ng-content select="router-outlet"></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="footer">Footer</mat-toolbar>
