<mat-horizontal-stepper #stepper
                        [linear]="true">
  <mat-step *ngFor="let step of subProcess;let i = index;"
            [completed]="subProcess[i].status">
    <ng-template matStepLabel>{{step.name}}</ng-template>
    <app-new-story-stepper-step [type]="step.type"
                                [stepData]="step.data"
                                (complete)="complete(i)"
                                (next)="next(i)">
    </app-new-story-stepper-step>
  </mat-step>
</mat-horizontal-stepper>
